<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Careers</title>
</head>
<body>
    <div id="container">
    <h1>Careers</h1>
    <img id="banner" src="https://img.freepik.com/premium-vector/something-great-typography-design-vector-print-t-shirt_639170-916.jpg" alt="" height="520" width="100%">
    <h2>About Careers</h2>
    <p class="bodyText">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut et ex, magnam minus explicabo cupiditate adipisci blanditiis, necessitatibus sit ullam accusantium consequuntur. Exercitationem, natus laborum expedita sapiente quis perferendis amet, veritatis consectetur quaerat dignissimos non hic dolores? Architecto, magni reiciendis? Ratione asperiores soluta in, odio vitae corrupti illum saepe officiis consequuntur itaque architecto quod?
    </p>
    <h2>Open Positions</h2>
    <p class="bodyText">TODO-Show the jobs here</p>
    <div style="text-align:center">
    <button>Contact Us</button>
    <p>Copyright 2022,Muskan</p>
    </div>
    </div>
</body>
</html>